/* h1 {
    color: darkblue;
}

img{
    width: 250px;
    height: 500px;
}

body {
    margin: 20px;
} */

body{
    background-image:url(./pexels-pixabay-209831.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.back{
    text-align: center;
}
p{
    text-align: center;
    color:#0d255d;
    text-shadow:3px 5px gray;
    text-decoration-color: aliceblue;
    font-size:100px;
    background-attachment: fixed;
    font-family: A; 
}

.msg{
   width: 600px;
    color: #162549;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 600px;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


h2{
    display: inline;
    color:gray;
}
